body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    column-gap: 50px;
    row-gap: 5px;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.card img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.card p {
    font-size: 14px;
    text-align: left;
    margin: 10px 0;
}

.card a {
    font-size: 13px;
    text-decoration: none;
    color: #007bff;
}
